<mat-card>
  <mat-card-header>
    <mat-card-title>Atualizar perfil</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <form [formGroup]="profileForm">
      <div class="row">
        <mat-form-field class="col-12" appearance="outline">
          <mat-icon matPrefix class="form-icon">account_circle</mat-icon>
          <mat-label class="label">Nome</mat-label>
          <input autofocus matInput formControlName="name" placeholder="Ex: Lucas" required>
          <mat-error>Digite seu nome</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12" appearance="outline">
          <mat-icon matPrefix class="form-icon">account_circle</mat-icon>
          <mat-label class="label">Sobrenome</mat-label>
          <input autofocus matInput formControlName="firstname" placeholder="Ex: Ramos" required>
          <mat-error>Digite seu sobrenome</mat-error>
        </mat-form-field>

        <mat-form-field class="col-12" appearance="outline">
          <mat-icon matPrefix class="form-icon">alternate_email</mat-icon>
          <mat-label class="label">E-mail</mat-label>
          <input matInput formControlName="email" placeholder="Ex: codinglucao@gmail.com" required>
        </mat-form-field>

        <mat-form-field class="col-md-12" appearance="outline">
          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-label class="label">Data de nascimento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthday" placeholder="06/04/2001" [min]="minDate" [max]="maxDate" required>
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-error *ngIf="profileForm.controls['birthday']?.hasError('required')">Digite sua data de nascimemto</mat-error>
          <mat-error *ngIf="profileForm.controls['birthday']?.hasError('matDatepickerMax') || profileForm.controls['birthday']?.hasError('invalid')">Digite uma data válida</mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions align="end">
    <button mat-button class="save-button" (click)="updateProfile()">Salvar</button>
  </mat-card-actions>
</mat-card>

<mat-card class="mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>Alterar Senha</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <form [formGroup]="passwordForm">
        <div class="row">
          <mat-form-field class="col-md" appearance="outline">
            <mat-icon matPrefix class="form-icon">lock</mat-icon>
            <mat-label class="label">Senha Atual</mat-label>
            <input matInput formControlName="passwordOld" [type]="hideold ? 'password' : 'text'" (input)="onPasswordInput()" required>
            <button mat-icon-button matSuffix (click)="hideold = !hideold">
              <mat-icon class="icon">{{hideold ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            <mat-error *ngIf="passwordForm.controls['passwordOld']?.hasError('required')">Digite sua senha</mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-md-6" appearance="outline">
            <mat-icon matPrefix class="form-icon">lock</mat-icon>
            <mat-label class="label">Nova Senha</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" (input)="onPasswordInput()" required>
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            <mat-error *ngIf="passwordForm.controls['password']?.hasError('required')">Digite a nova senha</mat-error>
            <mat-error *ngIf="passwordForm.controls['password']?.hasError('minlength')">Mínimo de {{minPW}} caracteres</mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-6" appearance="outline">
            <mat-icon matPrefix class="form-icon">lock</mat-icon>
            <mat-label class="label">Confirmação da nova senha</mat-label>
            <input matInput formControlName="passwordConfirm" [type]="hide ? 'password' : 'text'" (keyup.enter)="updateProfile()" (input)="onPasswordInput()" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon class="icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
            <mat-error *ngIf="passwordForm.controls['passwordConfirm']?.hasError('required')">Digite a confirmação da nova senha</mat-error>
            <mat-error *ngIf="passwordForm.controls['passwordConfirm']?.hasError('passwordMismatch') && !profileForm.controls['passwordConfirm']?.hasError('required')">Senhas não coincidem</mat-error>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions align="end">
        <button mat-button class="save-button" (click)="changePassword()">Salvar</button>
    </mat-card-actions>
</mat-card>

<mat-card class="mat-elevation-z3">
    <mat-card-header>
        <mat-card-title>Excluir Conta</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <div class="row">
        <div class="col">
          <p>
            Excluir sua conta <strong>permanentemente</strong>
          </p>
        </div>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions align="end">
        <button mat-button color="warn" (click)="openDeleteAccountDialog()">Excluir</button>
    </mat-card-actions>
</mat-card>
