<div class="container">
  <h2 mat-dialog-title>Criar campeonato</h2>
  <mat-dialog-content>
    <div class="row-cols-1">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite o nome do campeonato" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Esporte</mat-label>
        <mat-select>
          <mat-option value="one">Futebol</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data Início</mat-label>
        <input matInput [matDatepicker]="picker1" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data Final</mat-label>
        <input matInput [matDatepicker]="picker2" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data Início Inscrições</mat-label>
        <input matInput [matDatepicker]="picker3" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data Fim Inscrições</mat-label>
        <input matInput [matDatepicker]="picker4" />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker4"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker4></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="justify-content-end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button>Confirmar</button>
  </mat-dialog-actions>
</div>
