<div class="row row-cols-3 justify-content-center g-0">
  <dashboard-card cardTitle="Criar Equipe" cardImagePath="assets/img/group_add" cardRouterLink="create-team"></dashboard-card>
  <dashboard-card cardTitle="Ver Equipes" cardImagePath="assets/img/group" cardRouterLink="list-teams"></dashboard-card>
  <dashboard-card cardTitle="Criar Campeonato" cardImagePath="assets/img/trophy_add" cardRouterLink="create-championship"></dashboard-card>
  <dashboard-card cardTitle="Ver Campeonatos" cardImagePath="assets/img/trophy" cardRouterLink="list-championships"></dashboard-card>
  <dashboard-card cardTitle="Adicionar Faculdade" cardImagePath="assets/img/college_add" cardRouterLink="create-college"></dashboard-card>
  <dashboard-card cardTitle="Listar Faculdade" cardImagePath="assets/img/college" cardRouterLink="list-colleges"></dashboard-card>
  <dashboard-card cardTitle="Listar Usuários" cardImagePath="assets/img/user" cardRouterLink="list-users"></dashboard-card>
</div>
