<div class="row row-cols-3 justify-content-center g-0">
  <dashboard-card cardTitle="Equipes" cardSubtitle="{{cardSubtitle}} equipes" cardIcon="group" cardRouterLink="team"></dashboard-card>
  <dashboard-card cardTitle="Campeonatos" cardSubtitle="{{cardSubtitle}} campeonatos" cardIcon="event_note" cardRouterLink="championship"></dashboard-card>
  <!-- <dashboard-card cardTitle="Usuários" cardSubtitle="Gerenciar usuários" cardIcon="person" cardRouterLink="list-users"></dashboard-card> -->
</div>
