.card-dashboard {
  border: 1px solid;
  margin: 10px 10px;
}

mat-card-header {
  padding: 15px;
}

mat-card-title {
  text-align: center;
}

mat-card-subtitle {
  text-align: center;
}

.alinhado {
  vertical-align: -6px;
}
