<mat-card class="message-card mat-elevation-z4 col-10 col-md-8 col-lg-6">
  <div class="center">
    <span>UniSport</span>
    <!-- <img class="app-logo" src="assets/img/logos/logo.jpg" alt="Logo UniSport"> -->
  </div>

  <div class="card-divider">
    <mat-divider></mat-divider>
  </div>

  <p class="row center">Visualize seu e-mail</p>

  <mat-card-content>
    <p class="center">Enviamos as instruções para definir sua nova senha.</p>
  </mat-card-content>

  <mat-card-actions class="center">
    <div class="ok-button">
      <button mat-button class="ok-button mat-elevation-z3" routerLink="/login">Ok!</button>
    </div>
  </mat-card-actions>
</mat-card>
